<%- include('./partials/header') %>
    <% if(error.length>0){ %>
        <div class="flash-message absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-red-500">
            <span class="inline-block mt-1 mb-1 text-white">
                <%= error %>
            </span>
        </div>
        <% } %>
            <% if(success.length>0){ %>
                <div
                    class="flash-message absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-blue-500">
                    <span class="inline-block mt-1 mb-1 text-white">
                        <%= success %>
                    </span>
                </div>
                <% } %>
                    <div class="main-container flex min-h-screen">

                        <main class=" mx-auto my-auto md:mx-10 max-w-[90%] md:max-w-[35vw]">


                            <h1 class="text-2xl md:text-4xl mt-1 text-zinc-500 font-semibold"> Create new account </h1>
                            <h2 class="text-zinc-500 text-base md:text-lg mt-2"> Already have an account? <a
                                    href="/login" class=" cursor-pointer text-blue-500"> Login </a> </h2>

                            <form action="/users/register" method="post" class="mt-10">

                                <!-- First & Last Name -->
                                <div class="flex flex-col md:flex-row gap-5">
                                    <!-- First Name -->
                                    <div
                                        class="w-full bg-zinc-200 flex rounded-2xl px-5 py-2 border-2 border-transparent items-center focus-within:border-zinc-500 transition duration-300">
                                        <div class="w-full">
                                            <p class="text-[10px] text-zinc-600"> First name </p>
                                            <input
                                                class="text-sm w-full bg-transparent text-sm md:text-base text-zinc-500 outline-none"
                                                type="text" id="firstname" name="firstname" placeholder="" required
                                                minlength="3">
                                        </div>
                                        <img class="w-4" src="/images/user.svg" alt="icon">
                                    </div>

                                    <!-- Last Name -->
                                    <div
                                        class="w-full bg-zinc-200 flex rounded-2xl px-5 py-2 border-2 border-transparent items-center focus-within:border-zinc-500 transition duration-300">
                                        <div class="w-full">
                                            <p class="text-[10px] text-zinc-600"> Last name </p>
                                            <input
                                                class="text-sm w-full bg-transparent text-sm md:text-base text-zinc-500 outline-none"
                                                type="text" id="lastname" name="lastname" placeholder="" required
                                                minlength="3">
                                        </div>
                                        <img class="w-4" src="/images/user.svg" alt="icon">
                                    </div>
                                </div>

                                <!-- Email -->
                                <div class="mt-5">
                                    <div
                                        class="w-full bg-zinc-200 flex justify-between rounded-2xl px-5 py-2 border-2 border-transparent items-center focus-within:border-zinc-500 transition duration-300">
                                        <div class="w-full">
                                            <p class="text-[10px] text-zinc-600"> Email </p>
                                            <input
                                                class="text-sm w-full text-sm md:text-base bg-transparent text-zinc-500 outline-none"
                                                type="email" id="email" name="email" placeholder=""
                                                pattern="^[a-zA-Z0-9._%+-]+@gmail\.com$"
                                                title="Please enter a valid Gmail address (e.g., example@gmail.com)">
                                        </div>
                                        <img class="w-4" src="/images/mail.svg" alt="icon">
                                    </div>
                                </div>

                                <!-- Password -->
                                <div class="mt-5">
                                    <div
                                        class="w-full bg-zinc-200 flex justify-between rounded-2xl px-5 py-2 border-2 border-transparent items-center focus-within:border-zinc-500 transition duration-300">
                                        <div class="w-full flex items-center">
                                            <div class="flex-1">
                                                <p class="text-[10px] text-blue-400"> Password </p>
                                                <input
                                                    class="text-sm w-full bg-transparent text-zinc-500 md:text-base outline-none"
                                                    type="password" id="password" name="password" placeholder=""
                                                    required
                                                    pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                                                    title="Must be at least 8 characters, include 1 capital letter, 1 number, and 1 special character.">
                                            </div>
                                            <img class="w-4 cursor-pointer" src="/images/eye-off.svg" alt="icon"
                                                id="toggleIcon" onclick="togglePassword()">
                                        </div>
                                    </div>
                                </div>

                                <!-- Submit Button -->
                                <div class="mt-10">
                                    <button type="submit"
                                        class="w-full p-4 text-white bg-blue-500 rounded-2xl hover:bg-blue-600 transition">
                                        Register
                                    </button>
                                </div>

                            </form>
                        </main>
                    </div>

                    <%- include('./partials/footer') %>